<!-- pango-.liquid -->


<section class="p-{{ section.id }}">
    <h1>TESTING SOME BASIC LIQUID</h1>
 <div class="page-width">
  
 </div> 
</section>




{%  # CSS  %}
<style>
.p-{{ section.id }}{


}


@media(min-width:768px){
 .p-{{ section.id }}{
  
 }
}


</style>


{%  # JAVASCRIPT  %}
<script>
  
</script>


{% schema %}
 {
 "name": "Pango TEST 1",
 "settings": [],
 "presets": [
   {
     "name": "Pango TEST 1",
     "category": "All Pango"
   }
 ]
} 
{% endschema %}

